In [1]:
## Basic Syntex Rules in Python 
## Case Sensitivity- Python is case sensitive
name = 4
Name = "Saiful"
print(name)
print(Name)

4
Saiful

In [2]:
## Indentation 
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age=32
if age>30:
    print("You are above 30")
print(age)

You are above 30
32

In [3]:
## Rhis is a single line comment 
print("Hello World")

Hello World

In [6]:
# Line Continuation
total = 1 + 2 + 3 + 4 + 5 + 6 + \
3 + 4 + 9

In [7]:
print(total)

37

In [9]:
## Multiple statement on a single line
x = 5; y = 10; z = x+y
print(z)

15

In [11]:
variable =10
print(type(variable))
variable="Krish"
print(variable)

<class 'int'>
Krish

In [12]:
## Declaring and Assiging Variables
age = 32
height = 6.1
name =  "saiful"
is_student = True

print("age: ",age)
print("Height: ",height)

age:  32
Height:  6.1

In [ ]:
## Naming Conventaion 
## Variable names should be descriptive

In [13]:
## Understanding Variable types
## Python is Dynamically typed, type of variable is determined at runtime

In [14]:
## Daynamic Typing 
var = 10

In [15]:
print(var, type(var))

10 <class 'int'>

In [16]:
age = int(input("What is the age"))
print(age)

20

In [18]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2 
difference = num1 - num2
product = num1 * num2
qoutient = num1/num2
print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Qoutient: ", qoutient)

Sum:  15.0
Difference:  5.0
Product:  50.0
Qoutient:  2.0

In [19]:
height = 5.11
print(height)
print(type(name))

5.11
<class 'str'>

In [21]:
## Boolean datatype
is_true = True

In [22]:
print(is_true)

True

In [24]:
a = 10
b = 5
add_result = a + b

In [26]:
print(add_result)

15

In [27]:
exponent_result = a**b

In [28]:
print(exponent_result)

100000

In [29]:
## Comparision Operationrs

In [30]:
number1 = 45
number2 = 50
print(number2>number1)

True

In [32]:
num = int(input("Enter the number"))

if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is zero or negative")

The number is positive
The number is odd

In [37]:
year = int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"This is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2024 is a leap year

In [38]:
count = 0
while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [39]:
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [40]:
for i in range(3):
    for j in range(2):
        print(f"{i} and j:{j}")

0 and j:0
0 and j:1
1 and j:0
1 and j:1
2 and j:0
2 and j:1

In [41]:
## example calculate the sum of first N natural numbers using a while for loop

In [42]:
n=10
sum=0
count = 1
while count<=n:
    sum = sum + count
    count = count + 1
print("Sum of first 10 natural number ", sum)

Sum of first 10 natural number  55

In [43]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
    else:
        print(num)

1

In [44]:
fruits = ["apple","banana","cherry","kiwi","gauva"]

In [45]:
print(fruits[0])

apple

In [46]:
fruits[1:]

['banana', 'cherry', 'kiwi', 'gauva']

In [47]:
fruits[1:] = 'watermelon'

In [48]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [66]:
fruits = ["apple","banana","cherry","kiwi","gauva"]

In [67]:
fruits.append("orange")

In [68]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [69]:
fruits.insert(1,"watermelon")

In [70]:
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [71]:
## Remove and return the last item
print(fruits.pop())

orange

In [72]:
fruits.index("cherry")

3

In [73]:
fruits.insert(2,"banana")

In [75]:
fruits.count("banana")

2

In [76]:
## slicing list

In [77]:
numbers = [1,2,3,4,4,5,6,7]

In [78]:
print(numbers[2:5])

[3, 4, 4]

In [79]:
print(numbers[:5])

[1, 2, 3, 4, 4]

In [80]:
print(numbers[::2])

[1, 3, 4, 6]

In [82]:
for number in numbers:
    print(number)

1
2
3
4
4
5
6
7

In [83]:
for index, number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 4
5 5
6 6
7 7

In [84]:
lst = []
for x in range(20):
    lst.append(x**2)

In [85]:
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [86]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [87]:
lst = []
for i in range(10):
    if i%2==0:
        lst.append(i)

In [88]:
lst

[0, 2, 4, 6, 8]

In [90]:
even_numbers = [num for num in range(10) if num%2==0]

In [92]:
even_numbers

[0, 2, 4, 6, 8]

In [93]:
# Nested list Comprehension

In [94]:
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[i,j] for i in lst1 for j in lst2]

In [95]:
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [96]:
## Immutable Tuples 

## Creating a tuple 
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [97]:
number = tuple([1,2,3,4,5,6,7])

In [98]:
print(type(number))

<class 'tuple'>

In [100]:
mixed_tuple = (1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [101]:
## Accessing Tuple Elements

In [102]:
numbers[0]

1

In [103]:
numbers[2]

3

In [104]:
numbers[-1]

7

In [106]:
print(numbers[0:4])

[1, 2, 3, 4]

In [108]:
contination_tule = numbers + mixed_tuple

TypeError: can only concatenate list (not "tuple") to list

In [109]:
#   Cearting a tuple   
empty_tuple = ()
print(empty_tuple)

()

In [110]:
lst = list()

In [111]:

type(lst)

list

In [112]:
tpl = tuple()

In [114]:
# Hello I am here to help

numbers = (1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [115]:
lst = [[1,2,3,4],[6,7,8,9],[1,2,"Hello",3.41,"c"]]

In [116]:
lst

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 2, 'Hello', 3.41, 'c']]

In [117]:
lst[0][0:3]

[1, 2, 3]

In [119]:
lst[1][2:]

[8, 9]

In [120]:
nested_tuplpe = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuplpe[0])
print(nested_tuplpe[1][2])

(1, 2, 3)
c

In [121]:
for sub_tuple in nested_tuplpe:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [122]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [123]:
student = {"name": "saiful", "age":25,"grade":24}
print(student)

{'name': 'saiful', 'age': 25, 'grade': 24}

In [124]:
# Single key is always used
student = {"name":"Saiful","age":25,"name":24}

In [125]:
student

{'name': 24, 'age': 25}

In [127]:
student={"name": "Saiful","age":24,"grede":'A'}

In [128]:
print(student)

{'name': 'Saiful', 'age': 24, 'grede': 'A'}

In [130]:
student["address"] = "Bangladesh"

In [131]:
student

{'name': 'Saiful', 'age': 24, 'grede': 'A', 'address': 'Bangladesh'}

In [133]:
del student['name']

In [134]:
student

{'age': 24, 'grede': 'A', 'address': 'Bangladesh'}

In [136]:
keys = student.keys()
print(keys)

dict_keys(['age', 'grede', 'address'])

In [137]:
values = student.values()

In [138]:
print(values)

dict_values([24, 'A', 'Bangladesh'])

In [139]:
items = student.items()

In [140]:
print(items)

dict_items([('age', 24), ('grede', 'A'), ('address', 'Bangladesh')])

In [141]:
student["name"] = "Saiful"

In [142]:
## interating over Dictionaries
## You can use loops to iterate over dictonaries, keys values or items

for keys in student.keys():
    print(keys)

age
grede
address
name

In [143]:
## Iterate over values 
for value in student.values():
    print(value)

24
A
Bangladesh
Saiful

In [144]:
for key, value in student.items():
    print(f"{key}:{value}")

age:24
grede:A
address:Bangladesh
name:Saiful

In [146]:
## Iterating over nested Dictionaries

for student_id,student_info in student.items():
    print(f"Student ID: {student_id}")
    for key, value in student_info.items():
        print(f"{key}:{value}")

Student ID: age

AttributeError: 'int' object has no attribute 'items'

In [148]:
squares = {x:x**2 for x in range(10) if x%2==0}
print(squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [149]:
numbers = [1,2,3,4,5,6,7,5,6,6,7,6,7,5,4,5,5,6,6,7,7]
frequency = {}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number] = 1
print(frequency)

{1: 1, 2: 1, 3: 1, 4: 2, 5: 5, 6: 6, 7: 5}

In [150]:
## merge 2 dictionaries into one
dict1 = {"a":1,"b":2}
dict2 = {"b":3,"c":4}

In [151]:
merged_dict = {**dict1,**dict2}

In [152]:
merged_dict

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
#